body {
    background-color: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

button {
    width: 50%;
}

hr {
    border: 0;
    height: 1px;
    background: #2F3E53;
    margin: 40px 0;
}

.btn, input {
    margin-top: 30px;
    border: none;
    background-color: #10B981;
    color: white;
    padding: 9px 17px;
    border-radius: 4px;
    width: 400px;
}

input::placeholder {
    color: white;
    opacity: 1;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#password1, #password2 {
    background-color: #273549;
    border: none;
    border-radius: 4px;
    width: 33%;
    height: 50px;
    color: #10B981;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: auto;/* Permette lo scorrimento orizzontale */
    white-space: nowrap; /* Evita il wrapping delle parole */
    text-align: center;
}
